/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* your custom css */
body{
  position: relative;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Anonymous Pro', monospace;
}

.mainContainer a {
  color: #2CAC8F;
  text-decoration: none;
}

.mainContainer a:hover {
  color: #2CAC8F;
  text-decoration: underline;
}

.homeContainer{
  height: 100vh;
  position: relative;
  background-color: #1a2b34;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='432' height='216' viewBox='0 0 160 80'%3E%3Cg fill='%230f191f' fill-opacity='0.45'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

.homeContainer h3 {
  display: inline;
  font-size: 20vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bolder;

  color: transparent;
  text-stroke: 25px;
}

@keyframes GradientTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#backdrop {
  background: #FA8BFF linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: GradientTransition 2s ease-in-out infinite;
}

.about-container {
  background-color: #f8bc45;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-group {
  width: 776px;

  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #1a2b34;
}

.about-group img {
  border-radius: 4px;
  margin-right: 16px;
  height: 300px;
}

.about-container h2 {
  font-size: 45px;
  color: #f8bc45;
  margin: 0;
  font-weight: 200;
  text-align: center;
}

.about-container span {
  padding: 40px;
}

.homeSplashFade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.stack-container {
  min-height: 400px;
  background-color: #f8bc45;
  color: #1a2b34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}

.links-container {
  background-image: url("/img/left-bg.svg"), url("/img/right-bg.svg");
  background-color: #f8bc45;
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  height: 400px;
  position: relative;
}

.links-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.links-wrapper h3 {
  margin: 0;
  font-size: 35px;
  font-family: 'Anonymous Pro', monospace;
}

.links-wrapper div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.links-container .card {
  width: 200px;
  height: 250px;
  /*background-color: white;*/
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0 12px;
  background: white url("/img/card-bg.svg") no-repeat bottom center;
  background-size: 110% 200px;
}

.stack-wrapper img {
  margin: 15px;
}

.stack-container h3{
  font-size: 35px;
  font-family: 'Anonymous Pro', monospace;
  margin: 0;
}

.stack-wrapper {
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stack-wrapper span {
  border: 2px solid #f8bc45;
  background: #1a2b34;
  outline: 7px solid #1a2b34;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.time-sheet-policy {
  margin: 10px;
}

a.hovered {
  text-decoration: none;
  position: relative;
}

a.hovered:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;

  border-bottom: 2px solid #1a2b34;
  bottom: -5px;
  right: 0;
}

a.hovered:hover:after {
  height: 100%;
  width: 100%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .homeContainer h3 {
    font-size: 5vh !important;
  }

  .about-group {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  a.hovered:after {
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  .homeContainer h3 {
    font-size: 11vh;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer h3 {
    font-size: 18vh;
  }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (min-width: 1400px) {

}

@media only screen and (min-width: 1500px) {
}

#footer {
  background:#20232a url("/img/cool-lama.svg") no-repeat right bottom;
}


